h4 {
  color: black;
  -webkit-transition: color 1s ease-in;
  -moz-transition: color 1s ease-in;
  -o-transition: color 1s ease-in;
  -ms-transition: color 1s ease-in;
  transition: color 1s ease-in;
}
h4:hover {
  color: #668899;
}
